.content {
    background-color: lightgreen;
}

.navbar {
    background-color: lawngreen;
}

.pagination{
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: lawngreen;
}

.page{
    padding:20px;
    cursor:pointer;
    font-weight: bold;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid greenyellow;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 17px;
}
.album {
    text-align: center;
}
.card {
    min-height: 470px;
}

.card-img-top {
    max-height: 310px;
}

.small{
    color:var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

